BODY
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
P {
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial	
}
TD {
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial	
}
TH {
    FONT-SIZE: 14px;
    COLOR: gold;
    Background: royalblue;
    FONT-FAMILY: Verdana, Arial	
}
.hand {
    cursor:hand;
}