BODY
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;    
}
table {
    border-color: #ccc;
    border-collapse: collapse;
}
p {
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial	
}
td {
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    border-color: #ccc;
}
th {
    FONT-SIZE: 14px;
    COLOR: gold;
    Background: royalblue;
    FONT-FAMILY: Verdana, Arial	
    border-color: #ccc;
}
.hand {
    cursor:hand;
}