BODY
{
    FONT-SIZE: 12px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.Voetnota
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Arial
}
A
{
    COLOR: mediumblue;
    TEXT-DECORATION: none
}
A:hover
{
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: #000099
}
H1
{
    FONT-FAMILY: 'Comic Sans MS';
    TEXT-ALIGN: center
}
A.keuseitem
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana, Arial
}
P
{
    FONT-FAMILY: Verdana, Arial
}
p:hover {
	background-color: rgba(240,240,240, 0.7)
}
H2
{
    FONT-FAMILY: 'Comic Sans MS'
}
H3
{
    FONT-FAMILY: 'Comic Sans MS'
}
.Foto-byskrif
{
    FONT-SIZE: 9px
}
P.indent
{
    MARGIN-LEFT: 30px;
    MARGIN-RIGHT: 30px
}
P.indent2
{
    MARGIN-LEFT: 30px;
    TEXT-INDENT: -30px;
    MARGIN-RIGHT: 30px
}
TD.submenu
{
    FONT-SIZE: 14px;
    FONT-FAMILY: 'Comic Sans MS'
}
TD.inlig
{
    FONT-SIZE: 14px;
    FONT-FAMILY: Verdana, Arial
}
td p {
	font-size:12;
}
.topAlign {
	vertical-align: top;
}
.rooiraam {
	border-style: solid;
	border-width: 2px;
	border-color: red;
	background-color: #FFdddd;
	padding-left: 4px;
	padding-right: 4px;
	margin: 4px;
}
marquee a img {
	border-style: solid;
	border-color: white;
}
marquee a img:hover {
	border-color: silver;
}
.maleLink {
	color: blue;
}
.maleLink:hover {
	background-color: rgba(232,232,255,0.9);
}
.femaleLink {
	color: firebrick;
}
.femaleLink:hover {
	background-color: rgba(255,232,232,0.9);
}
marquee a img {
    border-radius: 40%;    
}
#imgWapen {
    border-radius: 5;
}
#imgWapen2 {
    border-radius: 5;
}
.WapensEnFotos {
	height : 500px;
	vertical-align: top;
	background-image1: url("images/old-paper-texture.jpg");
}
.leftAlign {
	align: left;
}
.rightAlign {
	align: right;
}
.splashImg{
	height: 160px;
	border-radius: 40%;
}
#shadowheading{
	height:30;
	color:darkorange;
	text-align:center
}